@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* --common--  */
.cont {
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h3 {
  font-family: "Azeret Mono", monospace;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.7rem;
}
p {
  color: #0d1321b2;
  font-family: "Azeret Mono", monospace;
  font-size: 14px;
  line-height: 1.4rem;
}

/* ------ nav------  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.navbar button {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  padding: 8px 18px;
  letter-spacing: 1.5px;
  background: none;
  border: 1px solid grey;
  border-radius: 4px;
}
.navbar a {
  color: #0d1321;
}

/* ----------- header ----------  */
.header {
  /* width: 100%; */
  height: 85vh;
  text-align: center;
  background: url(./assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

.header .cont_head {
  width: 70%;
  margin: 0 auto;
}
.header img {
  width: 12rem;
  margin-bottom: 0;
}
.header h2 {
  font-family: "Azeret Mono", monospace;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.7rem;
  margin-top: 1rem;
}
/* .header p {
  font-family: "Montserrat", sans-serif;
  color: #0d1321;
  font-size: 14px;
 
  line-height: 1.25rem;
  margin-bottom: 1.7rem;
} */
.header a {
  color: white;
}
.header button {
  font-family: "Roboto Mono", monospace;
  /* font-weight: 400; */
  border: none;
  padding: 15px 18px;
  background: #0d1321;
  border-radius: 4px;
  /* margin: 1.7rem ; */
}

/* ------------------why web-------------- */
.why_web {
  margin-top: 4rem;
  background: #f7f7fa;
  padding: 2rem 0;
  text-align: center;
}
.why_inner {
  width: 86%;
  margin: 0 auto;
}

/* .why_inner > p {
  margin: 0 3rem;
  color: #7e7e7e;
  font-size: 14px;
  font-family: "Azeret Mono", monospace;
  font-weight: 300;
} */
.why_card {
  display: flex;
  margin: 2rem 0rem;
  padding: 2rem 3rem;
  background: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.why_card_l {
  text-align: start;
  width: 50%;
  color: #0d1321b2;
  font-family: "Azeret Mono", monospace;
}
.why_card_l h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0;
}
/* .why_card_l p {
  font-size: 14px;
  line-height: 1.3rem;
  margin: 1rem 0;
} */
.why_card_l button {
  background: none;
  border: 1px solid #0d1321b2;
  padding: 0.8rem;
  font-size: 15px;
}
.why_card_l a {
  color: #0d1321b2;
  font-family: "Azeret Mono", monospace;
}
.why_card_r img {
  width: 90%;
  text-align: end;
}
/* ---------------inspiration-----------  */
.inspiration {
  text-align: center;
  margin-top: 4rem;
}
.ins_text {
  width: 86%;
  margin: 0 auto;
}

.ins_vidu {
  margin: 3rem 0;
  border: 1px solid #5f5f5f79;
  border-radius: 10px;
  padding: 2rem;
}
.ins_vidu iframe {
  width: 100%;
  border-radius: 10px;
}
/* ---------target -----------  */
.target {
  margin-top: 4rem;
}
.tar_text {
  text-align: center;
  width: 80%;
  margin: 3rem auto;
}
.tar_cards {
  display: flex;
  gap: 1.5rem;
}
.tar_card {
  text-align: start;

  padding: 1.8rem;
  border-radius: 10px;
  /* width: 30%; */
}
.tar_card h4 {
  font-family: "Azeret Mono", monospace;
  font-size: 1.3rem;
  font-weight: 850;
}
.tar_card a {
  font-family: "Azeret Mono", monospace;
  text-decoration: underline;
  color: #0d1321;
  font-size: 15px;
  font-weight: bold;
}
.c1 {
  background: #fff9f4;
}
.c2 {
  background: #f7f8ff;
}
.c3 {
  background: #fffef4;
}
